{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.title.label(class_="form-label") }}
                {{ form.title(size=32, class_="form-control") }}
                {% if form.title.errors %}
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.author.label(class_="form-label") }}
                {{ form.author(size=32, class_="form-control") }}
                {% if form.author.errors %}
                {% for error in form.author.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.language.label(class_="form-label") }}
                {{ form.language(size=32, class_="form-control") }}
                {% if form.language.errors %}
                {% for error in form.language.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.startdate_field.label(class_="form-label") }}
                {{ form.startdate_field(class_="form-control") }}
                {% if form.startdate_field.errors %}
                {% for error in form.startdate_field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.enddate_field.label(class_="form-label") }}
                {{ form.enddate_field(class_="form-control") }}
                {% if form.enddate_field.errors %}
                {% for error in form.enddate_field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
        </form>
        <br />
    </div>
    <div class="col-lg-9">
        <ul class="list-group">
            {% for book in books %}
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div class="flex-column">
                    {{ book.title }} <small>by {{ book.author }}</small> <a
                        href="{{ url_for('books.book', isbn=book.isbn) }}" class="link-primary">Edit</a>
                    <p><small>Pub date: {{ book.date }}</small></p>
                    <p>ISBN: {{ book.isbn }}</p>
                    <span class="badge bg-primary">pageCount: {{ book.pages }}</span>
                    <span class="badge bg-secondary">lang: {{ book.language }}</span>
                </div>
                <figure class="figure">
                    {% if book.url|length %}
                    <img src="{{ book.url }}" class="img-thumbnail" alt="quixote">
                    {% else %}
                    <div class="bd-example">
                        <svg class="bd-placeholder-img img-thumbnail" width="140" height="200"
                            xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera: 200x200"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>A generic square placeholder image with a white border around it, making it resemble
                                a photograph taken with an old instant camera</title>
                            <rect width="100%" height="100%" fill="#868e96"></rect><text x="25%" y="50%" fill="#dee2e6"
                                dy=".3em">150x100</text>
                        </svg>
                    </div>
                    {% endif %}
                </figure>
            </div>
            {% endfor %}
        </ul>
        <br />
        {{ pagination.links }}
    </div>
</div>
{% endblock %}