{% extends "base.html" %}

{% block content %}
<div class="row">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% for book in form.books %}
        <div class="shadow-sm p-3 mb-5 bg-body rounded mb-4">
            <div class="mb-3">
                {{ book.isbn.label(class_="form-label") }}
                {{ book.isbn(size=32, class_="form-control") }}
                {% if book.isbn.errors %}
                {% for error in book.isbn.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ book.title.label(class_="form-label") }}
                {{ book.title(size=32, class_="form-control") }}
                {% if book.title.errors %}
                {% for error in book.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ book.author.label(class_="form-label") }}
                {{ book.author(size=32, class_="form-control") }}
                {% if book.author.errors %}
                {% for error in book.author.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ book.pubDate.label(class_="form-label") }}
                {{ book.pubDate(class_="form-control") }}
                {% if book.pubDate.errors %}
                {% for error in book.pubDate.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ book.pages.label(class_="form-label") }}
                {{ book.pages(size=32, class_="form-control") }}
                {% if book.pages.errors %}
                {% for error in book.pages.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ book.front.label(class_="form-label") }}
                {{ book.front(size=32, class_="form-control") }}
                {% if book.front.errors %}
                {% for error in book.front.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ book.language.label(class_="form-label") }}
                {{ book.language(size=32, class_="form-control") }}
                {% if book.language.errors %}
                {% for error in book.language.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {{ form.remove(class_="btn btn-danger") }}
        {{ form.submit(class_="btn btn-primary") }}
    </form>
</div>
{% endblock %}