{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-3">
        <form action="#" onsubmit="logSubmit()" id="import">
            <div class="mb-3">
                <lablel for="q" class="form-label">Search field</lablel>
                <input type="text" class="form-control" name='q' id="q" placeholder="Search">
            </div>
            <div class="mb-3">
                <lablel for="titleSeach" class="form-label">Title</lablel>
                <input type="text" class="form-control" name='intitle' id="titleSeach" placeholder="title">
            </div>
            <div class="mb-3">
                <lablel for="authorSearch" class="form-label">Author</lablel>
                <input type="text" class="form-control" name='inauthor' id="authorSearch" placeholder="author">
            </div>
            <div class="mb-3">
                <lablel for="publisher" class="form-label">Publisher</lablel>
                <input type="text" class="form-control" name='inpublisher' id="publisher" placeholder="publisher">
            </div>
            <div class="mb-3">
                <lablel for="subject" class="form-label">Subject</lablel>
                <input type="text" class="form-control" name='subject' id="subject" placeholder="subject">
            </div>
            <div class="mb-3">
                <lablel for="isbn" class="form-label">ISBN</lablel>
                <input type="text" class="form-control" name='isbn' id="isbn" placeholder="ISBN">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-lg-9">
        <p id="log"></p>
    </div>
</div>

<script type="text/javascript">

    function get_values(form){
        return Object.values(form).reduce((obj,field) => { obj[field.name] = field.value; return obj }, {})
    }

    function clean(obj) {
        for (var propName in obj) {
            if (propName !== 'q'){
                if (obj[propName] === null || obj[propName] === undefined || obj[propName] === '') {
                    delete obj[propName];
                }
            }
        }
        return obj
    }

    function buildUrl(form){
        let url = 'https://www.googleapis.com/books/v1/volumes?'
        let values = get_values(form)
        values = clean(values)
        let params = new URLSearchParams(values)
        let params_string = params.toString()
        if (params.get('q') === ''){
            params_string = params_string.replace('&', '')
        }
        params_string = params_string.replaceAll('&', '+')
        params_string = params_string.replaceAll('=', ':')
        params_string = params_string.replace(':', '=')
        url = url + params_string
        return url
    }
    
    function logSubmit() {
        const url = buildUrl(event.target)
        event.preventDefault();
        console.log(url)
        // let restRequest = gapi.client.request({
        //     'path': 'https://www.googleapis.com/books/v1/volumes',
        //     'params': {'intitle': title}
        // });
        // writeResponse(restRequest)
    }
    
    </script>

{% endblock %}